<!-- Main content -->
<%= form_for @driver, url: employment_info_driver_index_path , :method => 'POST' , :html => {:class => 'form'}  do |f| %>
	<section class="content content-bg">
		<div class="row">
			<div class="col-lg-12 col-xs-12">
				<h3 class="instruction">
					THE INFORMATION IN THIS FORM WILL BE TREATED IN STRICTEST CONFIDENTIALITY IN ACCORDANCE WITH THE 1998 DATA PROTECTION ACT.
				</h3>
							
				<p class="instruction">
					Due to the high security of some of iWAD Customers, you are required to supply personal details to enable security checks to be carried out where appropriate. Please ensure all sections of this application form are completed and there are no gaps.
				</p>
			</div><!-- ./col -->
		</div><!-- /.row -->

		<% if @driver && @driver.errors && @driver.errors.count > 0 %>
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-error alert-block" role="alert">
						<ul class="errorMessageList">
							<% @driver.errors.full_messages.each do |error| %>
								<li><%= error %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
	<%= f.fields_for :employments do |field| %>
			<% if field.options[:child_index]<= 5 %>
			<div class="">
				<br />
				<div class="row">
					<div class="col-lg-12 col-xs-12">
						<p class="instruction">
							<%=  field.options[:child_index]== 0 ? 'Present Employment (if now unemployed, please provide details of your last employer).' : field.options[:child_index] ==1 ? '

Previous Employment (most recent first). Please cover the last 5 years and state nature of business.
' :"<hr/>".html_safe %>
						</p>

					</div><!-- ./col -->
				</div><!-- /.row -->
				<br />
				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="emp_name">Name of Employer</label>

							<div class="col-lg-7 col-xs-12">
								<%= field.text_field :name, autofocus: true , class: 'form-control', placeholder:'Enter name' %>
							</div>
						</div>
					</div><!-- ./col -->

					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="emp_title">Post Title</label>

							<div class="col-lg-7 col-xs-12">
								<%= field.text_field :post_title, autofocus: true , class: 'form-control', placeholder:'Enter name' %>
							</div>
						</div>
					</div><!-- ./col -->
				</div><!-- /.row -->
				<br />
				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="emp_addr">Address</label>

							<div class=" col-lg-7 col-xs-12">
								<%= field.text_area :address, autofocus: true , class: 'form-control', placeholder:'Enter address' %>
							</div>
						</div>
					</div><!-- ./col -->

					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="emp_sal">Salary</label>

							<div class=" col-lg-7 col-xs-12">
								<%= field.text_field :salary, autofocus: true , class: 'form-control', placeholder:'Enter salary' %>
							</div>
						</div>
					</div><!-- ./col -->
				</div><!-- /.row -->
				<br />

				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="appoint_date">Date of Appointment</label>

							<div class="col-lg-7 col-xs-12">
								<div class="input-group date">
									<%= field.text_field :appointment_date, autofocus: true , class: 'form-control datePicker', placeholder:'mm/dd/yyyy',  'data-provide:' => 'datepicker' %>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
								</div>
							</div>
						</div>
					</div><!-- ./col -->

					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="last_serv_date">
								Last Day of Service
								<br />
								<small>(if no longer employed)</small>
							</label>

							<div class=" col-lg-7 col-xs-12">
								<div class="input-group date">
									<%= field.text_field :last_day, autofocus: true , class: 'form-control datePicker', placeholder:'mm/dd/yyyy',  'data-provide:' => 'datepicker' %>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
								</div>
							</div>
						</div>
					</div><!-- ./col -->
				</div><!-- /.row -->
				<br />

				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="dept_sect">Department Section</label>

							<div class=" col-lg-7 col-xs-12">
								<%= field.text_field :department, autofocus: true , class: 'form-control', placeholder:'Enter department section' %>
							</div>
						</div>
					</div><!-- ./col -->

					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="note_period">Period of Notice</label>

							<div class=" col-lg-7 col-xs-12">
								<%= field.text_field :notice_period, autofocus: true , class: 'form-control', placeholder:'Enter period of notice' %>
							</div>
						</div>
					</div><!-- ./col -->
				</div><!-- /.row -->
				<br />

				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="job_desc">Brief Description of Duties</label>

							<div class=" col-lg-7 col-xs-12">
								<%= field.text_area :duty_description, autofocus: true , class: 'form-control', placeholder:'Enter description of duties' %>
							</div>
						</div>
					</div><!-- ./col -->

					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="leave_reason">Reason for Leaving</label>

							<div class=" col-lg-7 col-xs-12">
								<%= field.text_area :leaving_reason, autofocus: true , class: 'form-control', placeholder:'Enter reason for leaving' %>
							</div>
						</div>
					</div><!-- ./col -->
				</div><!-- /.row -->
			</div>
		<% end %>
	<% end %>
	<br />
	</section>
	<!-- Tertiary Section -->
	<section class="content content-bg">
		<div class="row">
			<div class="col-lg-12 col-xs-12">
				<p class="instruction">
					Gaps in Employment.
				</p>
			</div><!-- ./col -->
		</div><!-- /.row -->
		<br />
				
		<div id="empGaps">
			<div id="empGaps_0">
				<%= f.fields_for :employment_gaps do |field| %>
				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="from_gap_date">Date From</label>
														
							<div class="col-lg-7 col-xs-12">
								<div class="input-group date">
									<%= field.text_field :from_date, autofocus: true , class: 'form-control datePicker', placeholder:'mm/dd/yyyy',  'data-provide:' => 'datepicker' %>
																
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div><!-- ./col -->
								
					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="to_gap_date">Date To</label>
											
							<div class=" col-lg-7 col-xs-12">
								<div class="input-group date">
									<%= field.text_field :to_date, autofocus: true , class: 'form-control datePicker', placeholder:'mm/dd/yyyy',  'data-provide:' => 'datepicker' %>

									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div><!-- ./col -->
				</div><!-- /.row -->
				<br />
							
				<div class="row">
					<div class="col-lg-6 col-xs-12">
						<div class="form-group">
							<label class="control-label col-lg-3 col-xs-12" for="gap_reason">Reason for Absense</label>
											
							<div class=" col-lg-7 col-xs-12">
								<%= field.text_area :reason, autofocus: true , class: 'form-control', placeholder:'Enter reason for absense' %>
							</div>
						</div>
					</div><!-- ./col -->
				</div><!-- /.row -->
					<br />
					<hr />
				<% end %>

			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-xs-12"></div>
			<div class="col-lg-6 col-xs-12">
				<div class="col-lg-8 col-xs-12"></div>
				<div class="col-lg-2 col-xs-12">
					<button type="submit" class="btn btn-success">Proceed &nbsp;&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></button>
				</div><!-- ./col -->
			</div>
		</div><!-- /.row -->
	</section>
<% end %>
<script>
	$('.datePicker').datepicker();
</script>
