<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-lg-1">
      <h4>Vehicles</h4>
    </div>
    <div class="col-lg-4">
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="Search for a delivery">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
        </div>
      </form>
    </div>
  </div>
  <br/>

  <div>
    <!-- Tab panes -->
    <div class="tab-content content-bg">
      <div role="tabpanel" class="tab-pane active" id="verified">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th class="col-xs-1">Vehicle ID</th>
            <th class="col-xs-1">Created at</th>
            <th class="col-xs-2">Vehicle Name</th>
            <th class="col-xs-2">Type</th>
            <th class="col-xs-1">Cost per KM</th>
            <th class="col-xs-2">Actions</th>
          </tr>
          </thead>
          <tbody>
          <%
            i = 0
            styleClass = 'success'
            @vehicles.each do |vehicle|
              i =i+1

              if i%2 == 0
                styleClass = 'info'
              end
          %>
              <tr class="info">
                <td class="col-xs-1"><%= vehicle.id %></td>
                <td class="col-xs-1"><%= vehicle.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                <td class="col-xs-2"><%= vehicle.name %></td>
                <td class="col-xs-2"><%= vehicle.vehicle_type_id %></td>
                <td class="col-xs-1"><%= number_with_precision(vehicle.cost_per_mile, precision: 2) %></td>
                <td class="col-xs-2">


                  <!-- Split button -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-default">Action</button>
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="<%= url_for :controller => 'vehicles', :action => 'edit', :id => vehicle.id %>"><i class="fa fa-pencil" aria-hidden="true"></i>
                          Edit</a></li>



                    </ul>
                  </div>
                </td>


              </tr>
          <% end %>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</section>
