<%= form_for @user, url: "#{admin_user_path}", :html => {:class => 'form'}  do |f| %>
    <%= render partial: "/shared/validation_errors", locals: { resource: @user } %>    <!-- Main content -->
    <section class="content">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <!-- User Stats-->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right">
                        <li class="pull-left header"><i class="fa fa-user"></i> User Details</li>
                    </ul>
                    <br />

                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-xs-12">User ID</label>

                                    <div class=" col-lg-7 col-xs-12">
                                        <label><%= @user.id %></label>
                                    </div>
                                </div>
                            </div><!-- ./col -->

                        </div><!-- /.row -->
                        <br />


                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-xs-12">User Name</label>

                                    <div class=" col-lg-7 col-xs-12">
                                        <label><%= @user.name %></label>
                                    </div>
                                </div>
                            </div><!-- ./col -->

                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-xs-12">Organisation</label>

                                    <div class="col-lg-7 col-xs-12">
                                        <label><%= @user.organisation_name %></label>
                                    </div>
                                </div>
                            </div><!-- ./col -->
                        </div><!-- /.row -->
                        <br />




                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-xs-12">Email</label>

                                    <div class="col-lg-7 col-xs-12">
                                        <label><%= @user.email %></label>
                                    </div>
                                </div>
                            </div><!-- ./col -->

                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-xs-12">Mobile Number</label>

                                    <div class="col-lg-7 col-xs-12">
                                        <label><%= @user.phone_no %></label>
                                    </div>
                                </div>
                            </div><!-- ./col -->
                        </div><!-- /.row -->
                        <br />

                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-xs-12">Date of Birth</label>

                                    <div class="col-lg-7 col-xs-12">
                                        <label><%= @user.date_of_birth %></label>
                                    </div>
                                </div>
                            </div><!-- ./col -->

                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-xs-12">Gender</label>

                                    <div class="col-lg-7 col-xs-12">
                                        <label><%= @user.gender %></label>
                                    </div>
                                </div>
                            </div><!-- ./col -->
                        </div><!-- /.row -->
                        <br />

                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-lg-3 col-xs-12">Prepaid Credits</label>

                                    <div class="col-lg-3 col-xs-4">
                                        <%= f.text_field :prepaid_credit_count, autofocus: true, class:'form-control'%>
                                    </div>
                                </div>
                            </div><!-- ./col -->
                        </div><!-- /.row -->
                        <br />

                        <div id="hidden-date-range" class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-xs-12" for="reportfrom">From</label>

                                    <div class="col-lg-7 col-xs-12">
                                        <div class='input-group date'>
                                            <input id="reportfrom" type="text" class="form-control" data-provide="datepicker" placeholder="mm/dd/yyyy" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- ./col -->

                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-xs-12" for="reportto">To</label>

                                    <div class="col-lg-7 col-xs-12">
                                        <div class='input-group date'>
                                            <input id="reportto" type="text" class="form-control" data-provide="datepicker" placeholder="mm/dd/yyyy" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- ./col -->
                        </div>
                        <br />


                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-xs-12" for="offrstat">Status</label>
                                    <div class=" col-lg-7 col-xs-12">
                                        Disable <%= f.check_box :status,  {}, false, true %>
                                    </div>
                                </div>
                            </div><!-- ./col -->
                        </div><!-- /.row -->
                </div>
            </section>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-lg-2">
                <button id="addcreditok" type="submit" class="btn btn-primary btn-block">Update</button>
            </div>

            <div id="generate-report" class="col-lg-2">
                <button id="generatereport" type="button" class="btn btn-success btn-block" name="generate">Generate Report</button>
            </div>

            <div id="view-report" class="col-lg-2">
                <a onclick="generate()"> <button id="generatereport" type="button" class="btn btn-danger btn-block">View Report</button></a>
            </div>
        </div>
        <br />
    </section>
<% end %>
<script type="text/javascript" charset="utf - 8">
    /* after "$('a.back-to-top').hide();" */
	$('#hidden-date-range').hide();
	$('#view-report').hide();

    /* before "function onlyNumsAllowed(evt)" before the closing "});" */
	$('#generatereport').click(function() {
		$('#hidden-date-range').show();
		$('#view-report').show();
		$('#generate-report').hide();
	});
    function generate() {
        window.open(location.protocol + '//' + location.host + "<%= url_for :controller => 'users', :action => 'report' , :format => 'pdf', :id => @user.id  %>&to=" + $("#reportto").val() + "&from=" + $("#reportfrom").val());
    }
</script>
